{
		"id": "{{ realm_name }}",
		"realm": "{{ realm_name }}",
    "displayName": "{{ realm_name }}",
		"enabled": true,
		"registrationAllowed": true,
		"defaultRoles": [
			"offline_access",
			"uma_authorization",
      "Admin"
		],
		"requiredCredentials": [
			"password"
		]
	}
