############################ TYK-Pump ###########################
###
### TYK-Pump installation and configuration
###

- name: Add Tyk-Gateway repo
  yum_repository:
    name: tyk_tyk-gateway
    description: Tyk-Pump Repo
    baseurl: https://packagecloud.io/tyk/tyk-gateway/el/7/$basearch
    repo_gpgcheck: 1
    gpgcheck: 1
    gpgkey:
      - http://keyserver.tyk.io/tyk.io.rpm.signing.key
      - https://packagecloud.io/tyk/tyk-gateway/gpgkey
    enabled: 1

- name: Install prerequisites
  yum:
    name: "{{ item }}"
    state: present
    update_cache: yes
  with_items:
    - epel-release
    - redis
    - tyk-gateway

### Start databases
- name: Enable redis service
  service:
    name: "{{ item }}"
    state: started
    enabled: yes
    daemon_reload: yes
  with_items:
    - redis

### Install Tyk gateway
- name: run Tyk gateway setup script (hardcoded for now)
  shell: /opt/tyk-gateway/install/setup.sh --dashboard=1 --listenport=8080 --redishost=localhost --redisport=6379

### Enable Dashboard service
- name: Enable Tyk gateway service
  service:
    name: tyk-gateway
    state: started
    enabled: yes
    daemon_reload: yes
