{
  "first_name": "admin",
  "last_name": "user",
  "email_address": "admin@company.net",
	"active": true,
	"org_id":"{{ org.json.Meta }}",
  "password": "password",
  "user_permissions": {
    "IsAdmin": "admin"
  }
}
