{
	"access_rights": {
		"12345": {
			"allowed_urls": [],
			"apiid": "5bd0444ae13823138761bc4e",
			"apiname": "jetAPI2",
			"versions": [
				"Default"
			]
		}
	},
	"active": true,
	"hmac_enabled": false,
	"is_inactive": false,
	"key_expires_in": 0,
	"name": "default2",
	"org_id": "5bd043fbe13823138761bc4d",
	"partitions": {
		"acl": false,
		"quota": false,
		"rate_limit": false
	},
	"per": 60,
	"quota_max": -1,
	"quota_renewal_rate": 3600,
	"rate": 1000,
	"tags": []
}
