###
### Set up tyk
###

- hosts:         keycloak
  remote_user:   vagrant
  become:        true
  become_user:   root
  become_method: sudo
  gather_facts:  true

  vars_files:
  - group_vars/keycloak

  roles:
    - role: role_keycloak
